 <mat-toolbar color="primary">My App</mat-toolbar>
 <button mat-raised-button color="accent" (click)="login()">Ingresar</button>
 {{ message | async | json }}
 
 <mat-accordion>
  <mat-expansion-panel [expanded]="expand">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Nota
      </mat-panel-title>
      <mat-panel-description>
        Crear o editar una nota
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="Título de nota" [(ngModel)]="nota.titulo">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Categoría</mat-label>
      <mat-select [(ngModel)]="nota.categoria">
        <mat-option *ngFor="let cat of categorias" [value]="cat">{{cat}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Campo de la nota" [(ngModel)]="nota.cuerpo"></textarea>
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="guardarNota()">Guardar nota</button>
  </mat-expansion-panel>
</mat-accordion>

<mat-list role="list">
  <mat-list-item *ngFor="let n of notas" (click)="seleccionarNota(n);">
    <h3 matLine>{{n.titulo}}</h3>
    <p matLine>{{n.cuerpo}}</p>
    <small matLine>{{n.categoria}} - {{n.id | date}}</small>
  </mat-list-item>
</mat-list>

<!-- <router-outlet></router-outlet> -->
